.search-container {
  @apply flex flex-row items-baseline border-b-2; 
  &-input {
    @apply bg-gray-900 text-white outline-none;
  }
  input::-ms-clear{
    background-color: red;
    color: white;
    border: 1px solid #808080;
  }
}
